
<h1>Questa è la sezione battiscopa</h1>
{% include "prod-data" %}
{{ product.id }}
{% assign proid = product.id | string %}
<ul>
{% for i in arr %}
    {% if proid == i %}
       detected 
    {% endif %}
{% endfor %}
</ul>
