
<h1>Questa è la sezione battiscopa</h1>
{% include "prod-data" %}
{% assign proid = product.title | string %}
{% assign gx = 0 %}
<ul>
{% for i in arr %}
    {% if proid == i %}
      {% assign prostat = battiarr[gx] | size %}
      {% assign descstat = battiarr[gx] %}
      {{ prostat }}
          {% for j in (1..prostat) %}
               <li>{{ battiarr[gx][j] }}</li>
          {% endfor %}
    {% endif %}
  {% assign gx = gx | plus: 1 %}
{% endfor %}
</ul>
