
<h1>Questa è la sezione battiscopa</h1>
{% include "prod-data" %}
{% assign proid = product.title | string %}
{% assign gx = 0 %}
<ul>
{% for i in arr %}
    {% if proid == i %}
      {% assign prostat = battiarr[gx] | size %}
      {% assign descstat = battiarr[gx] %}
      {{ prostat }}
      <li>
          {% for j in (1..prostat) %}
               {% assign para = descstat | slice: j %}

               {% if ',' == para %}
                 </li><li>
               {% else %}
                 {{ descstat | slice: j  }}
               {% endif %}
          {% endfor %}
      </li>
    {% endif %}
  {% assign gx = gx | plus: 1 %}
{% endfor %}
</ul>
