
<h1>Questa è la sezione battiscopa</h1>
{% include "prod-data" %}
{% assign proid = product.title | string %}
{% assign gx = 1 %}
<ul>
{% for i in arr %}
    {% if proid == i %}
       {{ battiarr[gx] | slit="," }}
    {% endif %}
  <span style="display:none;">
  {{ gx | plus: 1 }}
  </span>
{% endfor %}
</ul>
