
{% assign arr = ";gift;Maglietta invisibile" | split: ";" %}
{% assign battiarr = ";3.1,bho,0.2,0.1;0.2,Descrivi l'oggetto,0.1,0.1" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
