
{% assign arr = ";gift;Maglietta invisibile" | split: ";" %}
{% assign battiarr = ";0.3,Descrivi l'oggetto,0.2,0.1;0,(Ogni scatola contiene 9.00ml),0,900.9" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
