
{% assign arr = ";Maglietta invisibile;gift" | split: ";" %}
{% assign battiarr = ";0.1,oggetto,0.1,0.1;1,Descrivi l\'oggetto,1,1" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
