
{% assign arr = ";Ceramiche;5,5x60 Bioselect oak" | split: ";" %}
{% assign battiarr = ";0,[Ogni scatola contiene 9.00ml],0.2,0.2;,,20,0" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
