
{% assign arr = ";Maglietta invisibile;gift;none" | split: ";" %}
{% assign battiarr = ";0.1,Descrivi l\'oggetto,0.2,0.1;0.1,Descrivi l\'oggetto,0.2,0.1;1,Descrivi l\'oggetto,1,1" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
