
{% assign arr = ";Waterfall Dark 30x60" | split: ";" %}
{% assign battiarr = ";0,Battiscopa 5,5x60,1,12" | split: ";" %}
{% assign battipo = ";Battiscopa Waterfall Dark" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
