
{% assign battipo = ";battiscopa2es" | split: ";" %}
{% assign arr = ";Waterfall Dark" | split: ";" %}
{% assign battiarr = ";,Descrivi l\'oggetto,," | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
