
{% assign arrsp = ";piastrelle" | split: ";" %}
{% assign sparr = ";w;;;;;;;;;;;;;;w" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
{% assign proidsp = product.title | string %}
{% assign gxsp = 0 %}
{% assign spc = false %}
{% for i in arrsp %}
    {% if proidsp == i %}

        {% assign spc = true %}
  
    {% endif %}
  {% assign gxsp = gxsp | plus: 1 %}
{% endfor %}
