
{% assign arr = ";Maglietta invisibile;gift;Maglietta invisibile" | split: ";" %}
{% assign battiarr = ";10.1,oggetto,10.1,10.1;0.3,Descrivi l\'oggetto,0.2,0.1;,(Ogni scatola contiene 9.00ml),9.00," | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
