
{% assign battipo = ";Battiscopa;Waterfall Grey 45x90" | split: ";" %}
{% assign arr = ";Waterfall Dark;Battiscopa Waterfall Dark" | split: ";" %}
{% assign battiarr = ";0,Descrivi l\'oggetto,0,0;,Battiscopa 5,5x60,1,2" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
