
{% assign arr = ";Maglietta invisibile;gift" | split: ";" %}
{% assign battiarr = ";10.1,oggetto,10.1,10.1;25.25,Descrivi l\\\\\\\'oggetto,0.2,0.1" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
