
{% assign arr = ";Ceramiche;piastrelle" | split: ";" %}
{% assign battiarr = ";0,(Ogni scatola contiene 9.00ml),0.2,0.2;,Descrivi l\'oggetto,3,2" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
