
{% assign battipo = ";Battiscopa Waterfall Dark" | split: ";" %}
{% assign arr = ";waterfall dark 30x60" | split: ";" %}
{% assign battiarr = ";,Descrivi l\'oggetto,," | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
