
{% assign arrsp = ";piastrelle;Ceramiche" | split: ";" %}
{% assign sparr = ";,w,,,,,,,,,,,,,,,,w;e,d,i,n,o,,,,,,,,,,c" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
<section style="display:flex;flex-wrap:wrao;">
<div style="width:50%;padding-right:4px;">
<p style="">
  Titolo:<br/>
  Produttore:<br/>
  Codice:prodotto:<br/>
  Scelta:<br/>
  Materiale:<br/>
  Finitura:<br/>
  Effetto:<br/>
  Stonalizzazione:<br/>
  Forma:<br/>
  Formato:<br/>
  Spessore:<br/>
  Prezzo per scatola:<br/>
  Prezzo al metro quadro:<br/>
  Peso al pallet:<br/>
  Mq al pallet:<br/>
  Scatole per pallet:<br/>
  Mq per scatola:<br/>
  Peso per scatola:<br/>
  Pezzi per scatola:<br/>
</p>
</div>
  <div style="width:50%;padding-left:4px;">
{% assign proidsp = product.title | string %}
{% assign gxsp = 0 %}
{% assign gxsps = 0 %}
{% assign spc = false %}
{% for i in arrsp %}
    {% if proidsp == i %}

        {% for j in sparr %}
          {% if gxsps == gxsp %}
            <p>
             {% assign arri = j | split: "," %}
             {% for z in arri %}
                 {{ z }}<br/>
             {% endfor %}  
            </p>
          {% endif %}
          {% assign gxsps = gxsps | plus: 1 %}
        {% endfor %}  
      
        {% assign spc = true %}
  
    {% endif %}
  {% assign gxsp = gxsp | plus: 1 %}
  {% assign gxsps = 0 %}
{% endfor %}
  </div>

</section>
