
{% assign battipo = ";battiscopa2es;battiscopa esempio prod;Waterfall Dark 30x60" | split: ";" %}
{% assign arr = ";container;Ceramiche;5,5x60 battiscopa waterfall dark" | split: ";" %}
{% assign battiarr = ";0,Descrivi l\'oggetto,0,0;0,Descrivi l\'oggetto,0,0;,prov,8,8" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
