
{% assign arr = ";Ceramiche;piastrelle" | split: ";" %}
{% assign battiarr = ";0,Descrivi l\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\'oggetto,0,0;0,Descrivi l\\\\\\\\\\\\\\\'oggetto,0,0" | split: ";" %}
{% assign battipo = ";battiscopa2es;battiscopa esempio prod" | split: ";" %}
<div style="display:none;">
{{ arr | json }}
</div>
