<h1>Questa è la sezione battiscopa</h1>
{% schema %}
  {
    "name": "battiscopa",
    "templates": ["index", "page", "product"],
  "presets": [
    {
      "name": "battiscopa",
      "category": "reference"
    }
  ]
  }
{% endschema %}
