<h1>Questa è la sezione battiscopa</h1>
{% include "prod-data" %}
{{ jsonprodata }}

<p><strong>Student List for {{jsonprodata.class.name}}:</strong></p>
<ul>
{% for z in jsonprodata.class.students %}
    <li>{{i.name}} ({{i.iq}})</li>
{% endfor %}
</ul>
{% schema %}
  {
    "name": "battiscopa",
    "templates": ["index", "page", "product"],
  "presets": [
    {
      "name": "battiscopa",
      "category": "reference"
    }
  ]
  }
{% endschema %}
