<h1>Questa è la sezione battiscopa</h1>

{% schema %}
  {
    "name": "battiscopa",
    "settings": [
      {
        "id": "des",
        "label": "just a try",
        "type":"text"
      }
    ],
    "templates": ["index", "page", "product"],
  "presets": [
    {
      "name": "battiscopa",
      "category": "reference"
    }
  ]
  }
{% endschema %}