<h1>Questa è la sezione battiscopa</h1>
{% include "prod-data" %}
{{ jsonprodata }}

<p><strong>Student List for {{jsonprodata.id}}:</strong></p>
<ul>
{% for z in jsonprodata %}
    <li>{{i.id }}</li>
{% endfor %}
</ul>
{% schema %}
  {
    "name": "battiscopa",
    "templates": ["index", "page", "product"],
  "presets": [
    {
      "name": "battiscopa",
      "category": "reference"
    }
  ]
  }
{% endschema %}
