<h1>Questa è la sezione battiscopa</h1>
{% include "prod-data" %}
{{ jsonprodata.class }}

<ul>
{% for i in jsonprodata.class %}
    <li>{{i}}</li>
{% endfor %}
</ul>
{% schema %}
  {
    "name": "battiscopa",
    "templates": ["index", "page", "product"],
  "presets": [
    {
      "name": "battiscopa",
      "category": "reference"
    }
  ]
  }
{% endschema %}
