<h1>it works</h1>
{{ section.settings.liquid_text }}

{% if section.settings.liquid_checkbox == true %}

<p>ma ancora:</p> {{ section.settings.liquid_text }}

{% endif %}

{{ section.settings.liquid_radio }}

{% schema %}
{
  "name": "Liquid refrence",
  "settings": [
    {
      "type": "text",
      "id": "liquid_text",
      "label": "just a try"
    },
    {
      "type": "checkbox",
      "id": "liquid_checkbox",
      "label": "show text"
    },
    {
      "id": "liquid_number",
      "type": "number",
      "label": "intnum"
    },
    {
      "id": "liquid_radio",
      "type": "radio",
      "label": "radio_on",
      "options": [
        {
          "value": "edo",
          "label": "edo"
        },
        {
          "value": "ardo",
          "label": "ardo"
        }
      ]
    }
  ],
  "templates": ["index", "page", "product"],
  "presets": [
    {
      "name": "Liquid refrence",
      "category": "reference"
    }
  ]
}
{% endschema %}