<h1>it work</h1>

{% schema %}
  {
    "name": "provades",
    "settings": [
      {
        "id": "des",
        "label": "just a try",
        "type":"text"
      },
      {
        "id": "sin",
        "label": "just",
        "type":"text"
      }
    ],
    "templates": ["index", "page", "product"],
  "presets": [
    {
      "name": "provades",
      "category": "reference"
    }
  ]
  }
{% endschema %}
